/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;

}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  display: grid;
  margin: auto;
  gap: 24px;
  width: 1200px;
}

mat-form-field {
  width: 100%;
}

mat-card {
  margin: 20px;
}

@media (max-width: 600px) {
  mat-card {
    margin: 10px;
  }

  .mat-form-field {
    width: 100%;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
